[user]
	email = xavier.payn@opentrust.com
	name = Xavier Payn
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    st = status --short
    ci = commit
    co = checkout
    br = branch
    di = diff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    oops = commit --amend --no-edit
[core]
    editor = vim
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /home/xpayn/.gitignore
    gitProxy = "git-bastion-proxy" for "bower.dev.opentrust.com:6789"
[diff]
	mnemonicPrefix = true
	renames = true
	wordRegex = .
	submodule = log
[fetch]
	recurseSubmodules = on-demand
[grep]
	extendedRegexp = true
[log]
	abbrevCommit = true
[merge]
    tool = vimdiff
    conflictStyle = diff3
[mergetool]
	keepBackup = false
	keepTemporaries = false
	prompt = false
[pull]
    rebase = preserve
[push]
	default = upstream
[rerere]
	autoupdate = true
	enabled = true
[status]
	submoduleSummary = true
	showUntrackedFiles = all
[color "branch"]
	upstream = cyan
[color "diff"]
    whitespace = red reverse
[tag]
	sort = version:refname
